body{
    background-color: antiquewhite;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;       
}

.boxes{
   
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.box {
    border: 3px black solid;
    margin: 50px;
    padding:100px;
}

.small-box {
    border: 3px black solid;
    margin: 20px;
    padding:45px;
}

.score-box {
    border: 3px black solid;
    margin: 20px;
    padding:45px;
}


.scores{
    display: flex;
    justify-content: space-around;
}

h2 {
    text-align: center;
}